{% extends "employee_register/base.html" %} {% block content %}
<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td>Full Name</td>
      <td>Employee Code</td>
      <td>Mobile Number</td>
      <td>Position</td>
      <td>
          <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">
              Add New
          </a>
      </td>
    </tr>
  </thead>
  <tr>
    {% for employee in employee_list %}
    <tr></tr>
    <td>{{employee.fullname}}</td>
    <td>{{employee.emp_code}}</td>
    <td>{{employee.mobile}}</td>
    <td>{{employee.position}}</td>
    <td>
        <a href="{% url 'employee_update' employee.id %}" class="btn tex-secondary px-0">
            <i class="far-edit far-lg">Edit</i>
        </a>
        <form action=""></form>
    </td>
  </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
